# Python Conditions:

1.Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [1]:
X = input()
Y = input()
if X == Y:
    print("Square")
else:
    print("Rectangle")

2
4
Rectangle

2.Take three integer values from the user and print the greatest among them.

In [2]:
X=input()
Y=input()
Z=input()

print("Greatest number is:",max(X,Y,Z))

4
5
7
Greatest number is: 7

3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%

In [3]:
print("Please input the student's attendance percentage:")
percentage_of_attendance = int(input())
if percentage_of_attendance >= 75:
    print("Student can take the exam.")
else:
    print("Sorry, student is not allowed to take the exam.")

Please input the student's attendance percentage:
76
Student can take the exam.

4. A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade

In [4]:
print("Please enter the marks:")
grade = int(input())

if grade < 25:
    print("Student has received grade F")
elif grade >=25 and grade <=44:
    print("Student has received grade E")
elif grade >=45 and grade <=49:
    print("Student has received grade D")
elif grade >=50 and grade <=59:
    print("Student has received grade C")
elif grade >=60 and grade <=79:
    print("Student has received grade B")
elif grade >=80 and grade <= 89:
    print("Student has received grade A")
else:
    print("Sutdent has received grade A+")

Please enter the marks:
92
Sutdnet has received grade A+

# Loop Problem:

5. Print the following pattern using for and while loop.
"1 2 3 4 5 6 7",
"1 2 3 4 5 6",
"1 2 3 4 5",
"1 2 3 4",

In [5]:
for i in range(1,8):
    print(i)

1
2
3
4
5
6
7

In [6]:
i = 1
while i <=7:
    print(i)
    i+=1

1
2
3
4
5
6
7

In [7]:
for i in range(1,7):
    print(i)

1
2
3
4
5
6

In [8]:
i = 1
while i <=6:
    print(i)
    i+=1

1
2
3
4
5
6

In [9]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [10]:
i = 1
while i <=5:
    print(i)
    i+=1

1
2
3
4
5

In [11]:
for i in range(1,5):
    print(i)

1
2
3
4

In [12]:
i = 1
while i <=4:
    print(i)
    i+=1

1
2
3
4

6. Display numbers from -100 to -10 using for loop.

In [13]:
for i in range(-100,-9):
    print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10


7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [14]:
def prime_number(num):
    if num <=1:
        return False
    for i in range(2,num):
        if num % i == 0:
            return False
    return True

sum_of_prime_number = 0
for num in range(10,1000):
    if prime_number(num):
        sum_of_prime_number+=num
        
print("The sum of all the prime numbers between 10 and 1000 is:",sum_of_prime_number)

The sum of all the prime numbers between 10 and 1000 is: 76110

8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [15]:
 def factorial(n):
        if n == 0 or n == 1:
            return 1
        else:
            num = 1
            for i in range(2,n+1):
                num *=i
            return num

n  = 7
factorial_of_n = factorial(n)
print(f"The factorial of {n} is:{factorial_of_n}")

The factorial of 7 is:5040

9. Reverse a given integer number 27956240710.

In [16]:
number = "27956240710"
reverse_number = number[::-1]
print("Reverser number of '27956240710' is:",reverse_number)

Reverser number of '27956240710' is: 01704265972

10. Print the following pattern using for and while loop.
# # #
# # # #
# # # 
# #

11. Display the Fibonacci series of 15 elements using the for and while loop.

# Python inbuilt Data Structure:

12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [17]:
Li = [1,3,5, [2,3], True]

In [18]:
Li[3][0]

2

In [19]:
Li[3][0]=3

In [20]:
Li

[1, 3, 5, [3, 3], True]

In [21]:
Li[4]="False"

In [22]:
Li

[1, 3, 5, [3, 3], 'False']

13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [23]:
s1 = {1,4,6,8}
s2 = {"True",1,2,10}
intersection_result = s1.intersection(s2)
print(intersection_result)

{1}

14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [24]:
user_input = input("Please enter a list of numbers seperated by spaces: ")
user_input_list = [int(item) for item in user_input.split()]
remove_duplicates=set(user_input_list)
max_number = max(remove_duplicates)
print("Max number is:",max_number)

Please enter a list of numbers seperated by spaces: 1 9 3 4 5 200 54
Max number is: 200

15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary

In [25]:
Dict = { "Name": "Shakil", "Age":27, "City": "Berlin", "Country": "Germany" } 
Dict["Region"] = Dict.pop("Country")
print(Dict)

{'Name': 'Shakil', 'Age': 27, 'City': 'Berlin', 'Region': 'Germany'}

16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [26]:
import pandas as pd

num = [10,100,300]
df = pd.DataFrame({'Number':num})

print(df)

   Number
0      10
1     100
2     300

17. Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [27]:
Dict = { "Name": "Shakil", "Age":27, "City": "Berlin", "Country": "Germany" } 
Dict['Age'] = 28
Dict

{'Name': 'Shakil', 'Age': 28, 'City': 'Berlin', 'Country': 'Germany'}